 <!-- NavBar-->
 <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top ">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
      <span class="navbar-toggler-icon"></span>
  </button>
    <!-- Item of navbar-->
  <div class="collapse navbar-collapse" id="navbarResponsive">
    
    <a style="padding-right: 50px;" href="/home" class="navbar-brand"></a>
    <ul class="navbar-nav mr-auto ">
            <li class="nav-item">
              <a class="nav-link" href="/home"><%=lang.Home%></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/home/features"><%=lang.Features%></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/home/contact"><%=lang.ContactNav%></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/home/about"><%=lang.About%></a>
            </li>
      </ul>
         <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a  class="nav-link" href="<%= isAuth == true? '/logout' : '/signin' %>" ><i style="padding-right:  10px;" class="fas fa-sign-in-alt fa-1x"></i><%=  isAuth == true? 'Sign Out' : 'Sign In' %></a>
            </li>
             <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%=lang.Language%></a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <form action="/home/Language" method="POST">     
                  <input type="submit" class="dropdown-item" name="Language" value="English">
                     <div class="dropdown-divider"></div>
                   <input type="submit" class="dropdown-item" name="Language" value="Arabic">
                   </form>                
              </div>

            </li>
      </ul>
  </div>
  <!-- End Item of navbar-->
</nav>
<!-- End NavBar-->