<! DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width , initial-scale=1" >
        <title><%=lang.Survey_Space%></title>
        <!-- Style Source Files -->
        <link rel="stylesheet" href="../css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
          <link rel="stylesheet" href="../css/fixed.css">
          <link rel="stylesheet" href="../css/animate.css">
        <link rel="stylesheet" href="../css/style.css">       
        <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville" rel="stylesheet">
         <!-- End of  Style Source Files -->
    </head>
    <body data-spy="scroll" data-target="#navbarResponsive" >
        <!-- Start Home Section-->
        <div id="home">
           
            <%- include('Layouts/nav.ejs',{lang : lang})%>
            <!-- Start Home Page Section-->
            <div class="landing">
                <div class="home-wrap">
                    <div class="home-inner">
                    <div class="home-shadow"></div>
                        </div>
                </div>
            </div>
              
        <div class="caption text-center">
             <h1 class="animated lightSpeedIn <%= language === 'ar' ? 'captionHeader' : '' %>" ><%=lang.Survey_Space %></h1>
            <h3><%=lang.dataTypeHeader%> <span class="typewrite" data-period="1000" data-type='[ "<%=lang.dataType %>","<%=lang.dataType1 %>"  ]'></span>
            </h3>
            <a href="<%= !isAuth? '/signin' : '/mysurveys' %>">
            <button class="button-efect from-left">
                <span></span>
                <span class="<%= language === 'ar' ? 'captionHeader' : '' %>"><%=lang.Get_Start %></span>
            </button>
            </a>
        </div>
  
    <div class="clearfix"></div>
    <!-- End Home Page Section-->        
    <!-- Start Features Section-->
        <div class="features">
            <div class="col-md-12">
                <div class="fea-image <%= language === 'ar' ? 'ar-float' : '' %>">
                    <img src="../images/features%201.webp">
                </div>
                <div class="fea-text <%= language === 'ar' ? 'ar-rtl' : '' %>" >
                    <h1><%=lang.OUR_FEATURES%></h1>
                    <h3><%=lang.Create_anything%></h3>
                    <p><%=lang.build_survey%></p>
                    <p><%=lang.built_in_optimization%></p>
                     <a class="btn btn-outline-dark btn-la "  href="/home/features"><span><%=lang.ReadMore%></span> </a>
                </div>
            </div>
        </div>
        <div class="service">
            <div class="col-md-12">
                <div class="ser-text <%= language === 'ar' ? 'ar-rtl' : '' %>">
                    <h1><%=lang.ServiceHeader%></h1>
                    <p><%=lang.Serviceparagraph%></p>
                    <p><%=lang.Serviceparagraph1%></p> 
                     <a class="btn btn-outline-dark btn-la "  href="/home/features"><span><%=lang.ReadMore%></span></a>
                    
                </div>
                <div class="ser-image <%= language === 'ar' ? 'ar-float' : '' %>"></div>">
                    <img src="../images/features2.webp">
                </div>
            </div>

        </div>
      <!-- End Features Section-->
        
      <!-- Start List Service-->
    
               
               <div class="list-service ">
               <div class="row">
               <div class="col-lg-6 col-md-12">
               <div class="item">
                  <div class="item-content text-center">
                   <i  class="fab fa-wpforms fa-5x"></i>
                   <h1><%=lang.ItemHeader%></h1>
                   <p class="lead"><%=lang.Itemparagraph%></p>
                  </div>
               </div>
               </div>
               <div class="col-lg-6 col-md-12">
               <div class="item">
                  <div class="item-content text-center">
                   <i class="fas fa-bolt fa-5x"></i>
                   <h1><%=lang.ItemHeader1%></h1>
                   <p class="lead"><%=lang.Itemparagraph1%></p>
                   </div>
               </div>
                   </div>
                   <div class="clearfix"></div>
                   
                <div class="col-lg-6 col-md-12">
               <div class="item">
                  <div class="item-content text-center">
                   <i class=" fa fa-edit fa-4x"></i>
                   <h1><%=lang.ItemHeader2%></h1>
                   <p class="lead"><%=lang.Itemparagraph2%></p>
                   </div>
               </div>
                   </div>
                 
                <div class="col-lg-6 col-md-12">
               <div class="item">
                 <div class="item-content text-center">
                  <i class="far fa-chart-bar fa-5x"></i>
                   <h1><%=lang.ItemHeader3%></h1>
                   <p class="lead"><%=lang.Itemparagraph3%></p>
                    </div>
               </div>
                   </div>
                   <div class="clearfix"></div>
                    <div class="col-lg-6 col-md-12">
               <div class="item">
                   <div class="item-content text-center">
                    <i style="margin-top: 20px;"  class="fa fa-tint fa-4x"></i>
                   <h1><%=lang.ItemHeader4%></h1>
                   <p class="lead"><%=lang.Itemparagraph4%> </p>
                   </div>
               </div>
                   </div>
                    <div class="col-lg-6 col-md-12">
               <div class="item">
                  <div class="item-content text-center">
                   <i  style="margin-top: 10px;" class="fas fa-mobile-alt fa-5x" ></i>
                   <h1 ><%=lang.ItemHeader5%></h1>
                   <p class="lead"><%=lang.Itemparagraph5%></p>
                   </div>
               </div>
               </div>
                   </div>
              
       
        <!---end list serves-->
        
        <!-- Start Skill Section-->
        <div class="skill">
             <div class="row">
              <div class="col-md-6">
                 <span class="skillSpan"><%=lang.SkillSpan%></span>
                 <div>
                     <img src="../images/Screenshot%20(16).webp " width="600px;">
                 </div>
                 <div>
                      <button><span><%=lang.Tryit%></span></button>
                 </div>
                  </div>
                   <div class="col-md-6 ">
                 <div class="skill-image hide">
                   <div class="container">
                    <img src="../images/floor.jpg" width="600px;" height="650px;">
                    <img class="over-image" src="../images/skils.jpeg" width="800px;">
                 </div>
              </div>
                 </div>
              </div> 
               </div>
              
        <!-- End Skill Section-->
        
        <!-- Start Contact Section-->
            <div class="contact">
              <div class="container">
                 
               <div class="contact-text">
                 <span><%=lang.ContactSpan%></span>
                 <span><%=lang.ContactSpan1%></span>
               </div>
              
               <a href="/home/contact">
                <div class="contact-buuton">
                   <button><b class="contactB"><%=lang.Contact%></b></button>
                </div>
               </a>
            </div>
         </div>
        <!-- EndContact Section-->
      <!-- Start Footer -->
        <footer>
                 <div class="footer-icon">
                  <a class="btn1" href="#">
                     <i class="fab fa-google fa-3x"></i> 
                  </a>
                   <a class="btn1" href="#">
                       <i class="fab fa-facebook-f fa-3x"></i>
                   </a>
                   <a class="btn1" href="#">
                       <i class="fab fa-twitter fa-3x"></i> 
                   </a>
                   <a class="btn1"  href="#">
                      <i class="fab fa-linkedin-in fa-3x"></i>
                   </a>
                        <p>© 2019 by The Survey Space Group</p>
                   </div>
        </footer>
      <!-- End Footer-->
      <!-- End resource section-->
       
      <!-- Start Scroll To Tob Button-->
      <div id="scroll-top">
         <i class="fa fa-chevron-up fa-3x"></i>              
      </div>
      <!-- End Scroll To Tob Button-->
      
      <!-- Script Source Files -->
        <script src="../js/jquery-3.3.1.js"></script>
        <script src="../js/jquery.nicescroll.min.js"></script>
        <script src="../js/bootstrap.js"></script>
        <script src="../js/MyJavaScript.js"></script>
        <script src="../js/base.js"></script>
       
        <!-- End of Script Source Files -->
    </body>
</html>